<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AzTaxi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/assets/images/icon/favicon.ico">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> <!--4.3.1-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link href="~/assets/css/export.min.css" rel="stylesheet">
    <!-- others css -->
    <link rel="stylesheet" href="~/assets/css/typography.css">
    <link rel="stylesheet" href="~/assets/css/default-css.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js" type="cff1c652e04bc587c2968792-text/javascript"></script>

    <link href="~/Select2/select2.css" rel="stylesheet" />
    <link href="~/jqueryui/themes/black-tie/jquery-ui.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body>

    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <ul class="lang-ul">
                    <li>
                        <a href="/@LANGCONSTANT.Az">Az</a>
                    </li>
                    <li>
                        <a href="/@LANGCONSTANT.En">En</a>
                    </li>
                    <li>
                        <a href="/@LANGCONSTANT.Ru">Ru</a>
                    </li>
                    <li>
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/icon/logo.png" alt="logo"></a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a asp-controller="Home" asp-action="Index" aria-expanded="true"><i class="ti-home"></i><span>@sharedLocalizer["MainPage"]</span></a>
                            </li>
                            <li class="active">
                                <a asp-controller="User" asp-action="Index" aria-expanded="true"><i class="ti-user"></i><span>@sharedLocalizer["UserList"]</span></a>
                            </li>
                            <li class="active">
                                <a asp-controller="Organization" asp-action="Index" aria-expanded="true"><i class="ti-agenda"></i><span>@sharedLocalizer["OrganizationList"]</span></a>
                            </li>
 
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                    </div>

                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p><b>@DateTime.Now.Year © Geo Engineering</b></p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>

    <!-- jquery latest version -->
    <script src="~/jquery/jquery.min.js"></script>

    <!-- bootstrap 4 js -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/popper.min.js" type="07358c43f3bada22b561de57-text/javascript"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/owl.carousel.min.js" type="07358c43f3bada22b561de57-text/javascript"></script>
    <script src="~/assets/js/metisMenu.min.js" type="07358c43f3bada22b561de57-text/javascript"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js" type="07358c43f3bada22b561de57-text/javascript"></script>
    <script src="~/assets/js/jquery.slicknav.min.js" type="07358c43f3bada22b561de57-text/javascript"></script>

    <!-- others plugins -->
    <script src="~/assets/js/plugins.js" type="07358c43f3bada22b561de57-text/javascript"></script>
    <script src="~/assets/js/scripts.js" asp-append-version="true" type="07358c43f3bada22b561de57-text/javascript"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="~/assets/js/googleTagManager.js" type="07358c43f3bada22b561de57-text/javascript"></script>
    <script type="07358c43f3bada22b561de57-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="~/assets/js/rocket-loader.min.js" data-cf-settings="07358c43f3bada22b561de57-|49" defer=""></script>
    <script src="~/assets/js/JqueryConfirm.js"></script>
    <script src="~/assets/js/sweetAlert.js"></script>
    <script src="~/jqueryui/jquery-ui.js"></script>
    <script src="~/Select2/select2.js"></script>
    <script src="~/jquery-cookie/jquery.cookie.min.js"></script>
    <script src="~/assets/js/Custom.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

